<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cloud.base.dao.SysRoleMapper">
	<resultMap id="SysRoleMap" type="cloud.base.model.SysRole">
		<id column="rolecode" property="rolecode" jdbcType="VARCHAR" />
		<result column="groupcode" property="groupcode" jdbcType="VARCHAR" />
		<result column="rolename" property="rolename" jdbcType="VARCHAR" />
		<result column="roleorder" property="roleorder" jdbcType="INTEGER" />
	</resultMap>
	<insert id="save" keyProperty="rolecode" parameterType="cloud.base.model.SysRole" >
		<selectKey keyProperty="rolecode" resultType="String" order="BEFORE">
	        select  replace(uuid(),'-','')   from dual
	    </selectKey> 
	    insert into sys_role 
	    	(rolecode, groupcode, rolename,roleorder) 
	    values 
	    	(
		    	#{rolecode,jdbcType=VARCHAR},#{groupcode,jdbcType=VARCHAR},
		    	#{rolename,jdbcType=VARCHAR},#{roleorder,jdbcType=INTEGER}
	    	);
  	</insert>
  	<update id="update" parameterType="cloud.base.model.SysRole">
	        update sys_role t
	        <set>
	            <if test="groupcode != null and groupcode !=''">
	            	groupcode=#{groupcode},
	            </if>
	            <if test="rolename != null and rolename !=''">
	            	rolename=#{rolename},
	            </if>
	            <if test="roleorder != null and roleorder !=''">
	            	roleorder=#{roleorder}
	            </if>
	        </set>
	        where t.rolecode = #{rolecode,jdbcType=VARCHAR}
	</update>
	<delete id="delete" parameterType="String">  
        delete from sys_role where rolecode in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
	</delete>  
	<select id="search" resultMap="SysRoleMap" parameterType="Map">
		select
		t.*
		from sys_role t 
		where 1=1
		<if test="rolename !=null and rolename !='' ">  
           and t.rolename like concat(concat('%', #{rolename}),'%')   
        </if>
		<if test="groupcode!=null and groupcode!='' ">  
           and t.groupcode =  #{groupcode}
        </if>
        <if test="start!=null and rows!=null">
        	limit #{start}, #{rows}
        </if>
	</select>
	
	<select id="getTotal" resultType="String" parameterType="Map">
		select
		t.*
		from sys_role t 
		where 1=1
		<if test="rolename !=null and rolename !='' ">  
           and t.rolename like concat(concat('%', #{rolename}),'%')   
        </if>
		<if test="groupcode!=null and groupcode!='' ">  
           and t.groupcode =  #{groupcode}
        </if>
	</select>
	
	<select id="getSysRoleById" resultMap="SysRoleMap" parameterType="java.lang.String">
		select
		t.*
		from sys_role t 
		where t.rolecode = #{rolecode,jdbcType=VARCHAR}
	</select>
</mapper>